<div class="center">
  <%= link_to "記事一覧へ戻る", another_posts_path, data: { turbo: false }, class: "btn btn-primary mt-3" %>
</div>
<br>
<div style="center">
  <%= form_with model: @another_post_form, url: @another_post_form.persisted? ? another_post_path : another_posts_path, local: true do |f| %>
    <div class="form-group">
      <%= f.label :error_type_name, 'カテゴリー' %><br>
      <%= f.text_field :error_type_name, value: 'エラー用', style: "text-align: center;", readonly: true %>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :status_error_name, 'エラー名' %><br>
      <%= f.select :status_error_name, AnotherPost.status_error_names.keys.map { |k| [k.humanize, k] }, include_blank: true %>
    </div>
    <br>
    <div class="form-group">
      <% if @another_post_form.other_error_name.present? %>
        <%= f.text_area :other_error_name, id: "error_post_other_content", style: "min-width: 550px" %>
      <% else %>
        <%= f.text_area :other_error_name, id: "error_post_other_content", style: "min-width: 550px", class: "hidden" %>
      <% end %>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :title, 'タイトル' %><br>
      <%= f.text_field :title %>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :file_name, 'ファイル名' %><br>
      <%= f.collection_select :file_type_id, FileType.all, :id, :file_name, include_blank: true, id: "file_select" %>
    </div>
    <br>
    <div class="form-group">
      <% if @another_post_form.other_file_name.present? %>
        <%= f.text_area :other_file_name, id: "another_post_other_content", style: "min-width: 250px" %>
      <% else %>
        <%= f.text_area :other_file_name, id: "another_post_other_content", style: "min-width: 250px", class: "hidden"  %>
      <% end %>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :code_content, 'コード内容' %><br>
      <%= f.text_area :code_content, style: "width:40%", rows: "30" %>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :other_content, 'その他' %><br>
      <%= f.text_area :other_content, style: "width:40%", rows: "10"  %>
    </div>
    <br>
    <div class="form-group">
      <%= f.submit 'メモを編集', class: "btn btn-success" %>
    </div>
  <% end %>
</div>
