<nav class="navbar navbar-expand-md bg-body-tertiary">
  <%= render "another_posts/header" %>
</nav>
    <div class="container-fluid" > 
      <%= search_form_for @q, url: another_posts_path, method: :get do |f| %>
        <div class="col-md-3 mb-1 mt-1">
          <%= f.label :created_at_gteq, '投稿日から' %>
          <%= f.date_field :created_at_gteq, class: "form-control mt-2", style: "text-aligin-left" %>
          <br>
          <%= f.label :created_at_lteq, '投稿日まで' %>
          <%= f.date_field :created_at_lteq, class: "form-control mt-2", style: "text-aligin-left" %>
          <%= f.submit "検索", class: "btn btn-success mt-2" %>
        </div>
      <% end %>
    </div>

<div class="font-arrange">エラー用の記事一覧</div>
<div class="posts-container">
    <% if @another_posts.present? %>
      <% @another_posts.each do |another_post| %>
        <div class="card" style="width: 40rem;">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-body-secondary"><%= another_post.error_type_name %></h6>
            <h5 class="card-title"><%= another_post.title %></h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <%if another_post.status_error_name.present?%>
                <%= another_post.humanized_status_error_name %>
              <% end %>
            </li>
            <li class="list-group-item"><%= another_post.other_error_name %></li>
            </li>
            <li class="list-group-item">
              <% if another_post.file_type.present? %>
                <%= another_post.file_type.file_name %>
              <% else %>
                <%= "" %>
              <% end %>
              <li class="list-group-item"><%= another_post.other_file_name %></li>
            </li>
          </ul>
          <div class="card-body">
            <p class="card-text"><%= another_post.code_content %></p>
            <p class="card-text"><%= another_post.other_content %></p>
          </div>
          <p><%= another_post.created_at.strftime("%B %d, %Y %H:%M") %></p>
          <br>
          <ul class='crud-menu-btn list-inline float-right'>
            <li class="list-inline-item">
              <%= link_to edit_another_post_path(another_post), id: "button-edit-#{another_post.id}" do %>
                <i class="fa-solid fa-pen-nib"></i>
              <% end %>
            </li>
            <li class="list-inline-item">
              <%= link_to another_post_path(another_post), id: "button-delete-#{another_post.id}", data: { turbo_confirm: "削除してもよろしいですか？", turbo_method: :delete } do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
            </li>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<br />
<div class="center"><%= paginate @another_posts, theme: 'bootstrap-5'%></div>
