<div class="shinki-page">
  <%= render "homes/shared/navbar" %>
  <div class="row">
    <div class="center">
      <div class="card">
        <h2>ログイン</h2>
        <div class="card-body mt-3">
          <br />
          <div class="btn btn-dark">
            <%= link_to user_twitter2_omniauth_authorize_path, style: "color: white;", method: :post do %>
              X(Twitter)でログイン<i class="fa-solid fa-kiwi-bird"></i>
            <% end %>
          </div>
          <br>
          <div class="btn btn-danger mt-3">
            <%= link_to user_google_oauth2_omniauth_authorize_path, style: "color: white;", method: :post do %>
              Googleアカウントでログイン<i class="fa-brands fa-google"></i>
            <% end %>
          </div>
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= flash[:error] %>
            <div class="mb-3">
              <%= f.label :name %><br />
              <%= f.text_field :name, autofocus: true, autocomplete: "name", size: "50x10", placeholder: "名前" %>
            </div>
            <div class="mb-3">
              <%= f.label :email %><br />
              <%= f.email_field :email, size: "50x10", placeholder: "メールアドレス" %>
            </div>

            <div class="mb-3">
              <%= f.label :password %>
              <em>(8文字以上で入力してください)</em>
              <br />
              <%= f.password_field :password, class: 'user_password', autocomplete: "new-password", size: "50x10", placeholder: "パスワード" %>
              <input type="checkbox" class="toggle_password_checkbox"> 表示
            </div>
            <!--div class="mb-3">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div-->
            <br />
            <div class="mb-3">
              <%= f.submit "ログイン", class: "btn btn-primary" %>
            </div>
          <% end %>
          <br />
          <%= render "users/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
