<div class="shinki-page">
  <%= render "homes/shared/navbar" %>
  <div class="row">
    <div class="center">
      <div class="card mt-2" style="padding: 30px">
        <h2>ログイン</h2>
        <div class="card-body">
          <br />
          <div class="btn btn-dark distable rounded-pill" >
            <%= link_to user_twitter2_omniauth_authorize_path, style: "color: white;", method: :post do %>
              <i class="fa-brands fa-x-twitter"></i>　X(Twitter) でログイン
            <% end %>
          </div>
          <br>
          <div class="btn btn-danger rounded-pill mt-3">
            <%= link_to user_google_oauth2_omniauth_authorize_path, style: "color: white;", method: :post do %>
              <i class="fa-brands fa-google"></i>　Googleアカウントでログイン
            <% end %>
          </div>
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= flash[:error] %>
            <div class="mb-3">
              <%= f.label :name %><br />
              <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "名前" %>
            </div>
            <div class="mb-3">
              <%= f.label :email %><br />
              <%= f.email_field :email, placeholder: "メールアドレス" %>
            </div>

            <div class="mb-3">
              <%= f.label :password %>
              <em>(8文字以上で入力してください)</em>
              <br />
              <%= f.password_field :password, class: 'user_password', autocomplete: "new-password", placeholder: "パスワード" %>
              <input type="checkbox" class="toggle_password_checkbox"> 表示
            </div>
            <!--div class="mb-3">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div-->
            <br />
            <div class="mb-3">
              <%= f.submit "ログイン", class: "btn btn-primary" %>
            </div>
          <% end %>
          <%= render "users/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
