<div class = "top-adjust">
  <div class= "center">
<%= form_with url: name_check_path, scope: :session do |f| %>
  <%= f.label :email %><br />
  <%= f.email_field :email, class: "form-control mt-3"%><br>
  <%= f.label :password %><br />
  <%= f.password_field :password, autocomplete: "current-password", class: "form-control mt-3" %><br />
  <%= f.submit "名前を確認する", class: "btn btn-primary" %><br>
<% end %>
  </div>
</div>
