<%= render 'shared/header' %>
<%= form_with model: @notification_setting, url: notification_settings_path, local: true do |f| %>
  <div class="center mt-5">
    <div class="field">
      <div class="center mt-3">
        <% if @posts.present? %>
          <%= f.hidden_field :post_id, value: @post.id %>
        <% else %>
          <%= "※まだ保存用メモの投稿がありません" %>
        <% end %>
      </div>
      <br>
      <div class="center mt-3">
        <% if @another_posts.present? %>
          <%= f.hidden_field :another_post_id, value: @another_post.id %>
        <% else %>
          <%= "※まだエラー用メモの投稿がありません" %>
        <% end %>
      </div>
      <br>
      <%= f.label :notify_days, "通知を受け取る日程", class: "center mt-3" %>
      <br>
      <div class="center"><%= f.select :notify_days, options_for_select([['1日','1_day'], ['1週間', '1_week'], ['1ヶ月', '1_month']]) %></div>
    </div>
  </div>
  <br>
  <div class="center">
    <div class="actions">
      <%= f.submit "設定を保存", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>