<div data-turbo="false">
  <%= search_form_for @q, url: bookmarks_posts_path do |f| %>
    <div data-controller="autocomplete" data-autocomplete-url-value="/posts/bookmark_search" role="combobox">
      <%= f.search_field :title_or_file_type_file_name_or_other_file_name_or_code_content_or_other_content_cont, data: { autocomplete_target: "input" }, type: "text", class: "form-control", placeholder: "ファイル名とタイトル検索" %>
      <%= f.hidden_field :title_or_file_type_file_name_or_other_file_name_or_code_content_or_other_content_cont, data: { autocomplete_target: 'hidden' } %>
      <ul class="list-group" style="max-height: 10rem; overflow-y: scroll;" data-autocomplete-target="results"></ul>
    </div>
    <%= f.label :created_at_gteq, '投稿日から' %>
    <%= f.date_field :created_at_gteq %>
    <%= f.label :created_at_lteq, '投稿日まで' %>
    <%= f.date_field :created_at_lteq, class: "mt-2"%>
    <%= f.submit "検索", class: "btn btn-primary" %>
  <%end%>
</div>