<div class="font-arrange">
  <div class="text-left"><i class="fas fa-tags"></i>お気に入りの記事一覧<i class="fas fa-thumbs-up"></i></div>
</div>
<div class="center">
  <%= render 'posts/bookmark_posts_search', url: bookmark_search_posts_path%>
</div>

<div class="text-left"><%= link_to "保存用メモ一覧に戻る", posts_path, data: { turbo: false },  class: "btn btn-primary mt-5 " %> </div>

<div class="center">
  <% @bookmark_posts.each do |post| %> 
    <div class="center mt-5">
      <div class="card" style="max-width: 100rem;">
        <h5 class="card-title"><%= safe_join(post.title.split("\n"),tag(:br)) %></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"><%= post.save_type_name %></h6>
        <ul class="list-group list-group-flush">
          <% if post.file_type.present? %>
            <li class="list-group-item"><%= post.file_type.file_name %></li>
          <% else %>
            <li class="list-group-item"><%= " " %></li>
          <% end %>
        </ul>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= safe_join(post.other_file_name.split("\n"),tag(:br)) %></li>
        </ul>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p class="card-text"><%= safe_join(post.code_content.split("\n"),tag(:br)) %></p>
          </blockquote>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p class="card-text"><%= safe_join(post.other_content.split("\n"),tag(:br)) %></p>
          </blockquote>
        </div>
        <div class="card-body"><%= post.created_at.strftime("%B %d, %Y %H:%M") %></div>
          <div class="card-body">
            <ul class='crud-menu-btn list-inline float-right'>
              <li class="list-inline-item">
                <%= link_to edit_post_path(post), id: "button-edit-#{post.id}" do %>
                  <i class="fa-solid fa-pen-nib"></i>
                <% end %>
              </li>
              <li class="list-inline-item">
                <%= link_to post_path(post), id: "button-delete-#{post.id}", data: { turbo_confirm: "削除してもよろしいですか？", turbo_method: :delete } do %>
                  <i class="fa-solid fa-trash"></i>
                <% end %>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <%= link_to "メモの詳細", post_path(post)%>
          </div>
          <div class="card-body">
            <% if current_user.own?(post) %>
              <%= render 'bookmarks/bookmark_button', post: post %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <%end%>
  <div class="center"><%= paginate @bookmark_posts, theme: 'bootstrap-5'%></div>
</div>
