<div class="topleft">
  <%= link_to "記事一覧へ戻る", posts_path, class: "btn btn-primary" %>
</div>
<%= form_with model: @post, local: true do |f| %>
  <br>
  <div class="form-group">
    <%= f.label :save_type_name, 'カテゴリー' %><br>
    <%= f.text_field :save_type_name, value: '保存用', style: "text-align: center;", readonly: true %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :title, 'タイトル' %><br>
    <%= f.text_field :title, autofocus: true %>
  </div>
    <br>
  <div class="form-group">
    <%= f.label :file_name, 'ファイル名' %><br>
    <%= f.collection_select :file_type_id, FileType.all, :id, :file_name, include_blank: true, id: "file_select" %>
  </div>
  <br><br>
  <div class="form-group">
    <% if @post.file_type&.file_name == 'その他' %>
      <%= f.text_area :other_file_name, id: "post_other_content", style: "min-width: 250px" %>
    <% end %>
    <%= f.text_area :other_file_name, id: "post_other_content", style: "min-width: 250px", class: "hidden"  %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :code_content, 'コード内容' %><br>
    <%= f.text_area :code_content, style: "width:40%", rows: "30" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :other_content, 'その他' %><br>
    <%= f.text_area :other_content, style: "width:40%", rows: "10"  %>
  </div>
  <br>
  <div class="form-group">
    <%= f.submit 'メモを編集', class: "btn btn-primary" %>
  </div>
<% end %>