<div class="topleft">
  <%= link_to "カテゴライズへ戻る", category_path, class: "btn btn-primary" %>
</div>
<div class="topright">
  <%= link_to "エラー用メモ作成", new_another_post_path,  class: "btn btn-primary" %>
</div>
<div class="top-adjust"> 
  <div class="form-group me-3">
    <%= I18n.l Time.zone.now, format: :full_date  %>
  </div>
</div>
<div class="form-group me-3">
  <%= link_to "保存用メモ一覧を見る", posts_path, class: "btn btn-secondary", data: { turbo: false } %>
</div>
<%= form_with model: @post, url: posts_path, local: true do |f| %>
  <br>
  <div class="form-group">
    <%= f.label :save_type_name, 'カテゴリー' %><br>
    <%= f.text_field :save_type_name, value: '保存用', style: "text-align: center;", readonly: true %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :title, 'タイトル' %><br>
    <%= f.text_field :title %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :file_name, 'ファイル名' %><br>
    <%= f.collection_select :file_type_id, FileType.all, :id, :file_name, include_blank: true %>
  </div>
  <br><br>
  <div class="form-group">
    <%= f.text_area :other_file_name, id: "post_other_content", style: "min-width: 250px", class: "hidden"  %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :code_content, 'コード内容' %><br>
    <%= f.text_area :code_content, style: "width:40%", rows: "30" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :other_content, 'その他' %><br>
    <%= f.text_area :other_content, style: "width:40%", rows: "10"  %>
  </div>
  <br>
  <div class="form-group">
    <%= f.submit 'メモを作成', class: "btn btn-primary" %>
  </div>
<% end %>