<%= form_with url: posts_path, local: true do |f| %>
  <div class="form-group">
    <%= f.label :save_type_name, '保存用' %><br>
    <%= f.text_field :save_type_name, value: '保存用', readonly: true %>
  </div>
  <br>
  <%= Time.current.strftime("%Y年%m月%d日 %H:%M") %>
  <%= I18n.t("date.abbr_day_names")[Time.current.wday] %>
  <br>
  <div class="form-group">
    <%= f.label :title, 'タイトル' %><br>
    <%= f.text_field :title, required: true %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :file_name, 'ファイル名' %><br>
    <%= f.collection_select :file_name, FileType.all, :id, :file_name, include_blank: true, id: "file_select" %>
  </div>
  <br><br>
  <div class="form-group">
    <%= f.text_area :other_file_name, id: "post_other_content", style: "min-width: 250px", class: "hidden"  %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :code_content, 'コード内容' %><br>
    <%= f.text_area :code_content, style: "width:40%", rows: "30" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :other_content, 'その他' %><br>
    <%= f.text_area :other_content, style: "width:40%", rows: "10"  %>
  </div>
  <br>
  <div class="form-group">
    <%= f.submit 'メモを作成' %>
  </div>
<% end %>