<div class="center mt-2">
<div class="card">
  <div class="card-body">
    <div class="fo1"><%= @post.title %></div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="fo2">カテゴリー:</div>
      <p><div class="fo3"><%= @post.save_type_name %></div></p>
    </li>
    <% if @post.file_type.present? %>
    <li class="list-group-item">
      <div class="fo2">ファイル名:</div>
      <p><div class="fo3"><%= @post.file_type.file_name %></div></p>
    </li>
    <% else %>
    <li class="list-group-item">
      <strong>ファイル名:</strong>
      <p><%= " " %></p>
    </li>
    <%end%>
    <% if @post.other_file_name.present? %>
    <li class="list-group-item">
      <div class="fo2">その他のファイル名:</div>
      <p><div class="fo3"><%= @post.other_file_name %></div></p>
    </li>
    <% end %>
    <p class="card-text">
      <div class="fo2">コード内容:</div>
      <div class="fo3"><%= @post.code_content %></div>
    </p>
    <br>
    <p class="card-text">
      <div class="fo2">その他:</div>
      <div class="fo3"><%= @post.other_content %></div>
    </p>
    <div class="card-body"> 
      <%= link_to edit_post_path(@post), id: "button-edit-#{@post.id}", data: { turbo: false } do%> 
        <i class="fa-solid fa-pen-nib"></i>
      <% end %>
      <%= link_to posts_path, data: { turbo: false }  do%>
        <i class="fa-solid fa-right-to-bracket"></i>投稿一覧へ戻る
      <% end%>
      <%= link_to notification_settings_path, data: { turbo: false }  do%>
        <i class="fa-solid fa-right-to-bracket"></i>通知画面に戻る
      <% end%>
    </div>
  </div>
</div>
</div>